<settings>
    <setting propertyKey="@Properties.haUrl" title="@Strings.SettingHaUrl">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.haToken" title="@Strings.SettingHaToken">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.baselineMin" title="@Strings.SettingBaseline">
        <settingConfig type="numeric" min="1" max="30" />
    </setting>
    <setting propertyKey="@Properties.recoveryMin" title="@Strings.SettingRecovery">
        <settingConfig type="numeric" min="5" max="60" />
    </setting>
</settings>
